<?xml version="1.0" encoding="UTF-8" ?>
<root>
	<global key="1234567890" mode="dev">
	    <!-- 公共的资源库 -->
		<res id="0" username="zc" password="zc" url="jdbc:mysql://10.232.43.173:3306/zc_res" driver="com.mysql.jdbc.Driver" />
		<allinpay key="1234567890" merchantId="100020091218001"/>
	</global>
	
	<zone id="1" name="zone1" host="0.0.0.0" hostOut="119.29.139.33" httpPort="30001" adminPort="31001" payPort="32001" callPort="33001">
		<db>
		    <mongo masterHost="127.0.0.1" masterPort="27018" dbname="zc_data" username="" password="" slaveHost="10.232.43.173" slavePort="27019"/>
		</db>
	</zone>
</root>